<div class = "row">
    
    <h2><%= @search_model %> search for "<%= @search_name %>"</h2>
</div>
<div class = "row">
    <div class = "col-xs-8 col-xs-offset-2">
        <% if @search_model == "User"%>
            <table class = "table">
                <thead>
                    <tr>
                        <th></th>
                        <th>name</th>
                    </tr>
                </thead>
                <tbody>
                <% @results.each do |result| %>
                    <tr>
                        <td><%= attachment_image_tag(result, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %></td>
                        <td><%= result.name %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% else%>
            <table class = "table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Opinion</th>
                    </tr>
                </thead>
                <tbody>
                <% @results.each do |result| %>
                    <tr>
                        <td><%= attachment_image_tag(result.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %></td>
                        <td><%= result.title %></td>
                        <td><%= result.body %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
    
</div>