<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

  	<div class='body'>
      <div class='container'>
            <p id="notice"><%= notice %></p>
            <div class = "center">
            <% if user_signed_in? %>
                  <%= form_tag(search_path,:method => 'get') do %>
                    <%= text_field_tag :search %>
                    <%= submit_tag '検索', :name => nil %>
                  <% end %>
            <% end %>
            </div>
      
      	<%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
